.cv-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px;
  }
  
  header {
    grid-row: 1;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .left-column, .right-column {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  h3 {
    position: relative; /* Para que ::before se posicione relativo a h3 */
    color: #333;
    font-weight: 700;
  }
  
  h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: -25px; /* Ajusta el desplazamiento horizontal */
    width: 10px; /* Ajusta el ancho del cuadro morado */
    height: 100%; /* Hace que el cuadro tenga la misma altura que el h3 */
    background-color: purple; /* Color morado */
  }
  
  table {
    width: 100%;
    margin-top: 10px;
  }
  
  td {
    padding: 5px;
    font-weight: 400;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }

  p {
    font-weight: 400;
  }
  
  